<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38686188579-5vq7meisthr1eod4c3k8t9ejr5clf48k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38686188579-5vq7meisthr1eod4c3k8t9ejr5clf48k</string>
	<key>API_KEY</key>
	<string>AIzaSyBX2byLkWmDewFegmG1Z8LN0fMiBItVR3s</string>
	<key>GCM_SENDER_ID</key>
	<string>38686188579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventApp.GayaniMadhushika-ios-cobsccomp182p-009</string>
	<key>PROJECT_ID</key>
	<string>coursework-a8b21</string>
	<key>STORAGE_BUCKET</key>
	<string>coursework-a8b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38686188579:ios:bfcc1deadc7016c2b4bd96</string>
	<key>DATABASE_URL</key>
	<string>https://coursework-a8b21.firebaseio.com</string>
</dict>
</plist>